#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
body{
  dispaly:flex;
  padding:50px;
  justify-content:center;
  align-items:center;
  background-color: #3a3a3a;
  color:rgba(255,255,255,.95);
  font-weight: normal;
  font-style: 14px;
  letter-spacing:1px;
  
}
/* 複寫 */
h2,h3{
  font-weight: 400;
  margin:0;
  margin-top:5px;
  margin-bottom:50px;
}
h1.tittle{
  font-weight: 400;
  margin-bottom:20px;
}
hr{
  width:40%;
  border:solid 3px #ffe65b;
  margin-left:0px;
}
p{
  font-weight: 300;
  font-style: 14px;
}
.resume{
  position:relative;
  max-width:900px;
  display:flex;
  padding:20px;
  border:solid 7px rgba(255,255,255,0.65);  
}
.left{
/*   display:flex; */
  padding:20px 40px 0 20px;
  flex:5;
  
}
.btn{
  margin-top:40px;
}
.btn a{
  border:solid 1px #ffe65b;
  color:#ffe65b;
  padding:5px 10px;
  text-decoration: none;
  margin-top:20px;
  margin-right:10px;
}
 .btn .works{
  background-color: #ffe65b;
  color: #3a3a3a;
  font-weight: 500;
}
.btn .works:hover{
  background-color: #fff6c4;
  border:solid 1px #fff6c4;
  color: #3a3a3a;
  transition:0.5s;
}
.btn .linkedin:hover{
  
  border:solid 1px #fff6c4;
  color: #fff6c4;
  transition:0.5s;
}
.name::after{
  content:"";
  display:inline-block;
  background-color: #ffe65b;
  width:15px;
  height:10px;
  border-radius: 15px 0 15px 0;
  margin-left:5px;
 
}
.smalltittle{
  font-style: 10px;
  opacity:0.6;
   
}
/* 專業技能－圓餅 */
 .item{
 
  display:flex;
  flex-wrap:wrap;
  text-align:center;
  list-style:none;
  }

.item li{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:25%;
  padding:5px;
  box-sizing:border-box;
  
}

.circle{
  position:relative;
  width:50px;
  height:50px;
  background-color: rgba(255,255,255,.1);
  border-radius:50%;
/*   border:solid 1px #ffe65b; */
  overflow:hidden;
  margin-bottom:10px;
}
.d90, .d180, .d270, .d360{
  width:25px;
  height:25px;
  background-color: #ffe65b;
  position: absolute;
  top:0%;
  left:50%;
}
.d180{
   top:50%;
  left:50%;
  
}
.d270{
   top:50%;
  left:0;
  
}
.d360{
  top: 0;
  left:0;
}

.circle::after{
  position: relative;
  content:""; 
  display:block;
  width:calc(100% - 20px);
  height:calc(100% - 20px);
  border-radius:50%;
/*   border:solid 1px #ffe65b; */
  background-color: #3a3a3a;
  top:50%;
  left:50%;
  transform:translate(-50% ,-50%);
}
.skills,.programSkills{
  text-align:left;
  
  margin-top:50px;
  margin-bottom:30px;
}
/* 程式技能－長條 */
.programitem{
  list-style:none;
}
.programitem li{
  display:flex;
  justify-content:space-between;
  padding: 0 10px 20px 0 ;
}

.programitem .bar{ 
  width:100px;
  height:15px;
  border:solid 2px #ffe65b;
  border-radius:10px;
  overflow:hidden;
}
 .v33{
  width:33%;
  height:15px;
  background-color: #ffe65b;
}
  .v20{
  width:20%;
  height:15px;
  background-color: #ffe65b;
}
 .v30{
  width:30%;
  height:15px;
  background-color: #ffe65b;
}
 .v50{
  width:50%;
  height:15px;
  background-color: #ffe65b;
}
 .v80{
  width:80%;
  height:15px;
  background-color: #ffe65b;
}
.right{
/*   display:flex; */
   
  text-align:left;
  padding:20px 0 0 40px;
  flex:6;
  border-left:solid 1px #ffe65b;
}
.experience{
  padding-top:80px;
   
}
.decoration{
  position: relative; 
  width:180px;
  height: 160px;
  background: linear-gradient(80deg,#ffe65b, #fffced );
  border-radius: 100% 0 100% 0  ;
  margin-top:10px;
  margin-left:50px;
}
ul{
  
  margin:0;
  padding:0;
  
}
.certification-text {
  color: white;
}
 
.listExperience li{
  display:flex;
  flex:3;
  list-style:none;
  margin:0;
  margin: 10px 0 15px 0px;
}
.listExperience >li ul  {
  width:200px;
  flex:7;
  padding:5px 5px 5px 20px;
  border-left:solid 4px #fff;
  margin-left:20px;
}
.listExperience >li:nth-child(1) ul{
  border-color: #ffe65b;
}
.listExperience >li:nth-child(2) ul{
  border-color: #FFF0A1;
}
.listExperience >li:nth-child(3) ul{
  border-color: #fff6c4;
} 
